[2019-07-03 16:09] Protoqol opened #5 "[FIX] Clearer horizontal table scrolling"
Currently it is not clear that you can scroll horizontally in the currently selected table.

Solutions might be
1. Scroll bar at top instead of bottom
2. Fade out on right side to indicate that there is more content
3. Arrow pointing right with same purpose as 2.

[2019-07-04 04:06] ArielSalvadorDev opened #6 "[BUG] Table 'users'"
**Describe the bug**
If selected any project database table it loads correct data but if select Users table it loads in any table the data of the current database project.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to current project users table
2. Click on other project database users table
3. See error

**Expected behavior**
Show data of selected database table, not the project ins

[2019-07-04 09:55] Protoqol commented on #6
Hi there @ArielSalvadorDev,
Thanks for submitting your issue here and for the clear explanation!
I think I see what the issue is here so this will be patched asap!

[2019-07-04 10:19] Protoqol commented on #6
This has been fixed. Could you pull the new version and check if it's working for you?

[2019-07-04 14:47] ArielSalvadorDev commented on #6
How can I pull the new version I start the project with git clone and
install Prequel with composer again, I need to make a Composer update? I
try again and I am sending you a screenshot maybe more clear

El jue., 4 jul. 2019 a las 4:19, Protoqol (<notifications@github.com>)
escribió:

--
Ariel Salvador.
Senior Developer Fullstack - Flutter Dev 🔥 and Laravel enthusiast ❤️.
Adobe Photoshop & Illust

[2019-07-04 16:45] James-N-M commented on #5
Sounds like a good first issue I'll pick this one up if that's ok

[2019-07-05 00:52] Protoqol commented on #5
Sounds good, good luck! If you have any questions you can just drop them here 😁

[2019-07-05 00:54] Protoqol commented on #6
Composer update should do the job👍

[2019-07-05 01:12] ArielSalvadorDev commented on #6
I try it again and it doesn't work but I change project with user table
filled and installed prequel, it works correctly,
so the bug only exists when you have a project with "users" table empty and
then install prequel,
then if the project with prequel have the "users" table empty any other
project database with "users" table will be empty

El jue., 4 jul. 2019 a las 18:54, Protoqol (<notification

[2019-07-05 16:48] Protoqol commented on #6
I'd have to check this myself to see what's going, so I will get back to you on the issue!

[2019-07-05 16:53] ArielSalvadorDev commented on #6
Thanks and congrats really cool package

El vie., jul. 5, 2019 10:48 AM, Protoqol <notifications@github.com>
escribió:

[2019-07-05 22:21] James-N-M commented on #5
I gave it a go but I'm having some trouble setting up and working on the project. I forked the repo and tried to link to the local git repo from one of my laravel projects, and then made a simple change to the Welcome vue component. But the change isnt showing up. So basically my question is whats your process for setting up the project to develop it locally. Or do you have a tutorial link or docu

[2019-07-06 00:11] Protoqol commented on #5
Hey, I have yet to make a proper contribution guide + testing resources. So here’s a shortened version. If the following is not working or is too much of a hassle, then wait a little bit until I get contribution all setup.

0. Create laravel project or use existing one, as long as it has a database connection.
1. Inside the project run `composer require protoqol/prequel’ and navigate to `vendors/p

[2019-07-06 21:18] QuintenJustus commented on #5
Fixed by @James-N-M in #7

[2019-07-06 21:18] #5 closed

[2019-07-06 23:57] QuintenJustus opened #10 "[FIX] History API go to next or previous page events not updating view"
When going to the previous or next page, the view won't update, but the URL does. There should be something  like an event that dispatches and updates the currently selected database (in the view) based on the URL query parameters.

Possible solutions
- Set a hook for the next and previous page events and update based on that URL

**Note: when you're taking up this issue please leave a comment bel

[2019-07-07 02:02] QuintenJustus opened #11 "[FEATURE] Implement dark mode"
Implement a dark mode, create a button in the top-right that can be switched on and off like the other 2 buttons.

[2019-07-07 13:44] James-N-M commented on #11
I’ve been wanting to learn how to do this, I’ll pick this issue up if it’s still up for grabs 💯

[2019-07-07 14:16] QuintenJustus commented on #11
Nobody else has taken it, so you’re good to go! Good luck👍

[2019-07-08 16:46] godhandkiller opened #14 "[BUG] Can't make it work with Homestead"
So I wanted to try this package, I installed on my project but I have this error message when I want go to /prequel

![prequel1](https://user-images.githubusercontent.com/18409311/60827398-56b94380-a16d-11e9-8286-851a0d800062.PNG)

This is the database connection on my .env file

`
DB_CONNECTION=mysql
`
`
DB_HOST=127.0.0.1
`
`
DB_PORT=33060
`
`
DB_DATABASE=prequel
`
`
DB_USERNAME=homestead
`
`
DB_

[2019-07-08 17:22] QuintenJustus commented on #14
Hi, does the database work when not using prequel?

[2019-07-08 17:31] igor-popovski commented on #14
![image](https://user-images.githubusercontent.com/41303752/60830179-e9320500-a1b6-11e9-8191-c0ea37fdf6c2.png)

And i am getting this error even though i have configured the database correctly and i have the migrations done since i can access them in Navicat? What am i missing here?

[2019-07-08 17:36] mchlbatista commented on #14
Did you create a db named prequel? Is your MySQL instance using port 33060 and not 3306? Can you connect to you db using other program?

[2019-07-08 17:56] godhandkiller commented on #14
@QuintenJustus @mchlbatista

I use DataGrip to manage my database and yes it's working in there, I have my database named prequel with all the migrations

[2019-07-08 18:10] michaelnguyen547 opened #15 "[BUG] Look for table ... returns all tables from all databases"
**Describe the bug**
Look for Table... search field should restrict to tables of selected Database

**To Reproduce**
Steps to reproduce the behavior:
1. Select a database
2. search table name in the search field

**Expected behavior**
Should only display tables belong to the selected database

**Screenshots**
<img width="363" alt="Screen Shot 2019-07-08 at 12 07 20 PM" src="https://user-images.git

[2019-07-08 18:24] QuintenJustus commented on #15
That’s not a bug. That’s supposed to happen, it’s a feature to search for any table in any database.

[2019-07-08 18:37] michaelnguyen547 commented on #15
I see, thanks

[2019-07-08 18:37] #15 closed

[2019-07-08 19:05] wrtisans opened #16 "[FEATURE REQUEST] Install only in dev env"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

it would be great install it only on dev environent, if its possible now and im missing someting please let me know

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives

[2019-07-08 19:19] gavinkalika opened #17 "[FEATURE REQUEST] Create a desktop version of this app"
**Is your feature request related to a problem? Please describe.**
It would be nice to have a desktop version of this application similar to sequel pro

[2019-07-08 19:20] gavinkalika opened #18 "[FEATURE REQUEST] Dockerize app"
**Is your feature request related to a problem? Please describe.**
Dockerize web app. It would be easier to get up and running with this.

[2019-07-08 19:23] #18 closed

[2019-07-08 19:53] dima2306 opened #19 "[BUG] Prequel not loading"
**Describe the bug**
Installed on Laravel 5.7.28 followed the instructions and got an error in the console. See the screenshot.
As examined main.blade
`<script>
  // Pass initial data to JavaScript
  window.Prequel       = {};
  window.Prequel.env   = @json($env);
  window.Prequel.error = {
    error   : false,
    detailed: '',
    code    : '',
  };
  window.Prequel.data  = @json($data['collecti

[2019-07-08 20:30] toast777 opened #20 "[BUG] top of page formatting"
On first page load at /prequel , the top area formatting breaks down and has overlapping UI components if user name is too long.

**Expected behavior**
Clean non-overlapping interface.

For azure I have to user a username like this -
username@myserver.mysql.database.azure.com

For security people may user super long usernames as well.

Probably just a CSS fix or something

Chrome version Version 7

[2019-07-08 20:51] mchlbatista commented on #14
I will give it a look.

[2019-07-08 21:15] mchlbatista commented on #14
Tested with your current configuration and it worked without problems. Notice that your current config is using a custom MySQL port "33060".

Configuration used

[code]

![Screenshot_2019-07-08_16-07](https://user-images.githubusercontent.com/20080764/60843095-4c15a300-a19b-11e9-9391-a09d12e825b0.png)

[2019-07-08 21:57] QuintenJustus commented on #17
Hey, your feature requests are pretty good. Why’d you close them?

[2019-07-08 22:08] QuintenJustus commented on #20
Hey, thank you for notifying me! Will take a look at this! Thanks 👍

[2019-07-08 22:11] QuintenJustus commented on #16
Hey, I’m not really sure what you mean? Could you fill in the other fields aswell, and be more clear on what exactly you’d like to see? Thanks 😁

[2019-07-08 22:15] QuintenJustus commented on #19
Hey thanks for opening the issue here and being concise! Looks like the json passed from the backend is invalid (first error). Could you share some more information about the database you’re using and any other relevant details? Thanks in advance 👍

[2019-07-08 22:18] QuintenJustus commented on #14
Thanks for your help @mchlbatista!

@godhandkiller did the config publish correctly (`config/prequel.php`)?

[2019-07-08 23:09] aaronsaray opened #21 "[BUG] phpmd result is in published"
**Describe the bug**
When publishing the vendor public items, a phpmd.html file is published

**To Reproduce**
Steps to reproduce the behavior:
1. Publish public vendor tag

**Expected behavior**
There would not be this file.

[2019-07-08 23:09] aaronsaray commented on #21
Pull request coming shortly :)

[2019-07-08 23:29] aaronsaray commented on #16
I think what @wrtisans is saying is that they'd only like this installed in dev environment.  In the `Authorised` middleware, there is a check to make sure that the functionality is not enabled in production.  But, regardless, the service provider and other checks are still executed. I think the request has to do with not auto-registering the service provider and following the example in [barryvdh

[2019-07-08 23:34] aaronsaray opened #23 "[BUG] Incorrect DB credentials gives cryptic error"
**Describe the bug**
Purposely, I set the password to my database connection to an incorrect value.  Then I get an error of `Oops... No valid database connection` with a suggestion of `You're using an irregular port number, usually the port is 3306 (Yours is: NaN)`

Couple things wrong here:
* because of the invalid connection, the code is zero'ing out all my config - I think it shouldn't set all

[2019-07-08 23:36] aaronsaray opened #24 "[BUG] published config file db credentials don't seem to be used"
**Describe the bug**
I altered my credentials in the `config/prequel.php` file and they don't seem to affect the existing connection.

**To Reproduce**
Steps to reproduce the behavior:
1. modify `config/prequel.php` DB.PASSWORD field to something like `aaron-is-causing-trouble` and you should no longer be able to connect. You do, though.

**Expected behavior**
If these exist here, I should be able

[2019-07-08 23:39] aaronsaray opened #25 "[FEATURE REQUEST] Add pagination default to the config file"
**Is your feature request related to a problem? Please describe.**
There's no problem. But, some people might not want 100 to be the default pagination from the API.  I think we can put that value in the config file.

**Describe the solution you'd like**
1. Make a config option for default pagination value
2. Set it to 100
3. Modify the controllers to use that.

[2019-07-08 23:53] aaronsaray opened #27 "[BUG] Counting of records will fail with a non-id column"
**Describe the bug**
First of all, I apologize if this is not really a bug.  I did come across some code, though, that I wanted to help with. I didn't see exactly how it was used at first glance.

The issue is in `DatabaseController::countTableRecords()` where it executes a `->count('id')` call.  This can be a problem with tables that don't have a column named `id`.  I've seen a table named `cars`

[2019-07-09 00:01] godhandkiller commented on #14
Thank you @mchlbatista for checking, unfortunately is not working for me still.

@QuintenJustus yes I saw the file and I even did just a dd() of the env variables and they are correct.
I found it weird that on the error message says
`- You're using an irregular port number, usually the port is 3306 (Yours is: NaN)`
Implying that my port is empty, I thought it was something to do that my homestead

[2019-07-09 00:04] QuintenJustus commented on #21
Merged in #22 thanks for your work!

[2019-07-09 00:04] #21 closed

[2019-07-09 00:06] mchlbatista commented on #14
Be sure that you ran

[code]
And try to run

[code]

The latest will clear the config cache

[2019-07-09 00:31] QuintenJustus commented on #27
You’re absolutely right! However, I don’t think the method is actually called anywhere as of yet. Optimisations are certainly welcome, but the method is there for a feature that will be implemented in the future and because of that has not been tested yet.

[2019-07-09 00:56] James-N-M commented on #14
I can confirm that it does work on laravel homestead. Double check your database is created and run the commands mentioned above.

[2019-07-09 01:16] aaronsaray commented on #27
Alrighty - thanks for the clarification.  If you want to super-power your project with contributors, when you pre-write (is that even a word?) code, you might want to use the `@todo` annotation in there so people know that this isn't ready yet.  You could say `@todo complete this with testing - right now it's just a placeholder` - that way people won't think its done+done :)  I'm going to close th

[2019-07-09 01:16] #27 closed

[2019-07-09 01:21] QuintenJustus commented on #14
Thanks @mchlbatista & @James-N-M!

@igor-popovski your issue seems unrelated, could you open a separate issue for your issue? Thanks in advance!

@godhandkiller I’ll take a closer look at this issue, but for now the advice given above is the best there is at the moment.

[2019-07-09 02:19] QuintenJustus commented on #25
PR #26 approved for merge in next release! Thanks 👍

[2019-07-09 02:19] #25 closed

[2019-07-09 02:45] QuintenJustus opened #28 "[FEATURE REQUEST] Add config docs to README"
Add documentation about the config file `config/prequel.php` to the readme below the installation section.

[2019-07-09 10:21] dima2306 commented on #19
Hi! I'll wrap up as more information as I can. I can't share all my databases, because some are my job's. But I'll try to find out which database(s) cause this problem.

[2019-07-09 11:54] dima2306 commented on #19
I've found what was causing the problem. It was one table's name "users_ოლდი" (I'm Georgian user)) ) and the problem occurred in prettifyName of DatabaseTraverser class. Seem like regex is unable to handle Georgian words and was giving unreadable characters.
![error](https://user-images.githubusercontent.com/16943788/60885797-7c277980-a261-11e9-8fe8-785b7e240836.png)

Once I renamed it in English

[2019-07-09 11:58] QuintenJustus commented on #19
Thanks for figuring that out! That’s a pretty major issue so that will probably be patched in the next release! Closing issue now 👍

[2019-07-09 12:29] gavinkalika commented on #17
reopened 😄

[2019-07-09 14:55] gavinkalika commented on #17
what are your thoughts on implementation?

An electron app?

[2019-07-09 16:34] SerafimArts opened #29 "[BUG] Invalid database connections"
Here:
https://github.com/Protoqol/Prequel/blob/695852c8eb475127f9f2d05945874ddf1b1ed940/src/Http/Controllers/PrequelController.php#L26-L32

In the settings may not exist connections named "`mysql`".

You should take the connection names from the `config/prequel.php` settings.

[2019-07-09 16:37] QuintenJustus commented on #28
Will be merged with next release. See 525d2bc

[2019-07-09 16:37] #28 closed

[2019-07-09 16:41] QuintenJustus commented on #29
Nice catch, this is fixed in the next release, do closing now. Thanks for notifying me!

[2019-07-09 16:41] #29 closed

[2019-07-09 16:42] QuintenJustus commented on #24
Currently Prequel uses the default DB instance. A separate dedicated DB instance will be used in the next release to also allow for a separate RO user like you say.

[2019-07-09 16:43] QuintenJustus commented on #24
Closing now as this has been noted and will be fixed in next release.

[2019-07-09 16:43] #24 closed

[2019-07-09 16:54] QuintenJustus commented on #17
Maybe, electron is still a bit heavy on many systems. First a Prequel standalone will be developed, and with that also a standalone desktop app. So still a long way to go, but certainly worth looking into with enough support! Thanks for your request!

[2019-07-09 16:57] QuintenJustus commented on #11
@James-N-M how is dark mode doing? :smile:

[2019-07-09 17:29] QuintenJustus commented on #20
Fixed and will be merged in next release.

[2019-07-09 17:29] #20 closed

[2019-07-09 17:50] QuintenJustus commented on #23
Hey, I could not replicate your issue. I having an invalid password (and username, database etc.) but it just shows me that Prequel could not find a valid connection. Something I'm missing here?

[2019-07-09 18:19] James-N-M commented on #11
I just finally got it set up to work on last night so hopefully i have a better status update on it tonight or tomorrow. Figuring out the symlinking process from the local git repo package to my test project was a long one, I watched 2 of the three videos on laracasts last night about adding custom themes using tailwind.

[2019-07-09 18:25] QuintenJustus commented on #11
Ah alright, nice! There's no hurry, just wanted to check in :smile:.
If you've got any screenshots or something tonight that would be dope! Looking forward to it.

[2019-07-09 18:34] toast777 commented on #20
Cool thanks, no worries if you don't know, do you know of someone with
experience with MySQL ssl and laravel?

On Tue, Jul 9, 2019, 12:29 PM Quinten <notifications@github.com> wrote:

[2019-07-09 18:36] James-N-M commented on #11
Ya for sure ! I'll comment them in here hopefully all goes well I dont hit any hiccups with tailwind

[2019-07-09 18:37] QuintenJustus commented on #11
If you have any questions you can just drop them here!

[2019-07-09 18:40] QuintenJustus commented on #20
Can't think of anyone I can easily connect you with atm, sorry.

[2019-07-09 19:37] QuintenJustus commented on #23
I think this was fixed in f1ab336!

[2019-07-09 22:49] QuintenJustus commented on #23
Confirmed to be fixed, so closing now.

[2019-07-09 22:49] #23 closed

[2019-07-10 00:57] SerafimArts commented on #29
Ideally it would be nice to have support for multiple connections.

[2019-07-10 01:14] QuintenJustus commented on #29
That's on the to-do list!

[2019-07-10 01:29] luigel opened #30 "[BUG] FatalThrowableError after installing the prequel"
**Describe the bug**
After installing the prequel package using composer, I can't make run of the `php artisan route:list` command.

**Screenshots**
![image](https://user-images.githubusercontent.com/26235960/60933512-1c7aae00-a2f5-11e9-8456-60b05939b6cf.png)

[2019-07-10 01:46] QuintenJustus commented on #30
Hm, that's a serious error. Could you post the results of `php artisan route:list -v`?

[2019-07-10 02:05] James-N-M commented on #11
![image](https://user-images.githubusercontent.com/6562688/60934753-6f247d80-a295-11e9-923d-43a884a239bc.png)
finally getting rolling with it.

[2019-07-10 02:12] xuanquynh commented on #30
Which `protoqol/prequel` version did you installed? I think the version 0.6.2-beta has already fixed it.

[2019-07-10 02:13] QuintenJustus commented on #11
Looking good! Keep up the great work :smile:

[2019-07-10 02:38] QuintenJustus commented on #19
Hey @dima2306, quick question. What table collation were you using for `users_ოლდი`?

[2019-07-10 04:09] James-N-M commented on #11
![image](https://user-images.githubusercontent.com/6562688/60939703-abaca500-a2a6-11e9-8038-b4679e2195d9.png)
I feel like im at a good place with css variables to implement the actual theme switcher functionality maybe tomorrow night or the next day. Well have to have a call or a conversation about what colors we actually want to use for each piece.   A friend recommended i actually take a picture

[2019-07-10 04:48] luigel commented on #30
@QuintenJustus I copied and paste the result

[code]

[2019-07-10 04:49] luigel commented on #30
@xuanquynh I installed 0.6.2-beta version. Still having the error.

[2019-07-10 04:59] QuintenJustus commented on #11
Nice work, your friend’s recommendation is certainly good one! There’s a discord server for Protoqol where we can discuss, you can find the link int the Dev branch’s README.md at the top.

[2019-07-10 05:01] QuintenJustus commented on #30
Ah! I think I see what’s going wrong, will get back to you!

[2019-07-10 05:05] xuanquynh commented on #30
I see. I will take a look.

[2019-07-10 05:16] xuanquynh commented on #30
I discover the error and will submit a PR soon.

[2019-07-10 05:43] xuanquynh commented on #30
This will be fixed https://github.com/Protoqol/Prequel/pull/31

[2019-07-10 08:44] pandiya110 opened #32 "[BUG] Base URL is not appending"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-07-10 10:54] dima2306 commented on #19
Hi there,
it's utf8_unicode_ci

[2019-07-10 12:04] djaxho commented on #10
I can take a look at this issue tonight, if I fail, I'll report back :)

[2019-07-10 14:52] QuintenJustus commented on #30
Confirmed fix in #31 closing now.

[2019-07-10 14:52] #30 closed

[2019-07-10 14:52] QuintenJustus commented on #32
You have to be more clear.

[2019-07-10 15:41] QuintenJustus commented on #14
Closing now because this is likely to be fixed in the next release.

[2019-07-10 15:41] #14 closed

[2019-07-10 15:56] wrtisans commented on #16
@aaronsaray great! thats what i was looking!!!

[2019-07-10 15:56] #16 closed

[2019-07-10 16:04] QuintenJustus opened #33 "[RFC] Adding i18n"
# Request For Comments:  Internalization - i18n
I was thinking about all the features that Prequel is still missing and i18n came across my mind, but I'm not really sure if this is worth looking into. That's why I opened this RFC.

## See points below for my thoughts about this.

- Would this be helpful to people?
- Is this worth investing time into?
- Front-end or back-end implementation?
- Are t

[2019-07-10 16:06] #19 closed

[2019-07-10 16:28] vishnurnair93 opened #34 "[BUG] Prequel not working"
**Describe the bug**
I tried installing prequel which ended up in

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh installation of laravel
2. install prequel using composer (i used the bets 0.6.2 version)
3. copy config and public resources
3. Run prequel
4. Shows the below image.

**Expected behavior**
Prequel should run

**Screenshots**
![image](https://user-images.githubuser

[2019-07-10 16:40] #34 closed

[2019-07-10 17:22] cjfloss commented on #33
It is pretty helpful for people that don't fully understand english.

I'm willing to translate to Brazilian Portuguese.

[2019-07-10 22:49] QuintenJustus opened #35 "[FIX] Tables with same name in different databases"
When selecting a table, in a database underneath another database, that has a table with the same name, the first table is marked as active (meaning it gets a different text-color etc.). Meaning if the wrong database.table is marked as active.

Possible solutions
- Better check to see which table is actually active. Like matching database names with table parent element.

**Note: when you're takin

[2019-07-11 05:49] djaxho commented on #10
I actually won't have time to take a look until tonight or tomorrow, so if anyone wants to have at it before then, feel free 🙂

[2019-07-11 10:20] M4ST3RX commented on #33
Agree with @cjfloss, i can help translate to Hungarian.

[2019-07-11 13:53] M4ST3RX opened #37 "[BUG] Users table fields are not showing all data"
**Describe the bug**
In a database called "Main" the "Users" table missing two fields therefore the column isn't showing the right data but on any other table or database it is working see in the screenshots.

**To Reproduce**
I have not tried to reproduce the issue as this has been like this since first time opening the table. I guess it is something to do with the naming as I have seen

**Expect

[2019-07-11 14:32] QuintenJustus commented on #37
Weird bug! Will look at this tonight, will be fixed in next release.

[2019-07-11 16:09] spriggsey opened #38 "[FEATURE REQUEST] Ability to see table structure even with empty tables"
**Is your feature request related to a problem? Please describe.**
When creating new tables/migrations on a brand new project, its nice to be able to check if those table columns are in the correct place, correct collation, length etc, without having to push dummy data right away into it.

**Describe the solution you'd like**
At a minimum it would be great to have the table column structure still

[2019-07-11 17:47] QuintenJustus commented on #38
Good suggestion. Should be relatively easy, so will probably be there in next release. Thanks for your request!

[2019-07-11 18:59] QuintenJustus commented on #6
Should be fixed in next release, closing now!

[2019-07-11 18:59] #6 closed

[2019-07-11 19:00] QuintenJustus commented on #11
Implemented in 0c4c3982425dcaa772b5283c65dfd8ff1ac1835c, closing now. New suggestions can be done via a new issue.

[2019-07-11 19:00] #11 closed

[2019-07-11 20:12] QuintenJustus commented on #10
@djaxho Take your time! It's not a very pressing at the moment :+1:

[2019-07-12 09:39] kfeng0806 opened #39 "[BUG] JS error"
**Describe the bug**
Got JS error after installation
Laravel version: 5.8

**Expected behavior**
Site open normally.

**Screenshots**
![](https://i.imgur.com/KUOgV5K.jpg)

**Desktop (please complete the following information):**
 - Browser Chrome
 - Version 75.0

[2019-07-12 11:06] programsmagic opened #40 "prequel not working"
After installation when I am run prequel.
that's showing **
Create a fresh installation of laravel
install prequel using composer (i used the bets 0.6.2 version)
copy config and public resources
Run prequel
Shows the below image.

Oops... No valid database connection
Tried connecting through
://@:/
connection://user@host:port/database

1 SUGGESTION(S) FOUND
- You're using an irregular port number,

[2019-07-12 11:23] #40 closed

[2019-07-12 14:54] QuintenJustus commented on #39
Looks similar to #19, could you check if you might have the same problem?

[2019-07-12 17:44] QuintenJustus commented on #32
Closing now.

[2019-07-12 17:44] #32 closed

[2019-07-12 18:43] QuintenJustus commented on #38
Implemented in e7e56f3 closing now.

[2019-07-12 18:43] #38 closed

[2019-07-13 23:51] QuintenJustus commented on #33
Tagging all current contributors for feedback @James-N-M @xuanquynh @mchlbatista @ajthinking @aaronsaray @djaxho

[2019-07-13 23:58] QuintenJustus commented on #10
Will be merged and included in next release, see #42.

[2019-07-13 23:58] #10 closed

[2019-07-14 00:00] QuintenJustus commented on #37
I think I found out what was causing this, will be fixed in next release.

[2019-07-14 00:01] QuintenJustus commented on #37
Closing now as this is probably fixed, if the issue persists in the next release please make a new issue.

[2019-07-14 00:01] #37 closed

[2019-07-14 00:11] aaronsaray commented on #33
I'm a native-english speaker only, so I can't help with translations. That being said, the sooner you implement i18n the better.  This sets up a nice framework for people to contribute. However, keep in mind that the sooner you add more language support, the longer it may take to merge in new features (or enable them) as they'll need translation.  That being said, I'm all for it :)

[2019-07-14 00:16] aaronsaray opened #43 "[FEATURE REQUEST] Tests for source code"
**Is your feature request related to a problem? Please describe.**
It is best practice to include some sort of unit, integration or feature type tests with your libraries.  I tend not to use an open source product / library if they don't have adequate tests.  Not only does it help with code quality and reducing bugs, it gives the reader an idea of how the product functions without having to do a d

[2019-07-14 03:35] xuanquynh commented on #33
1. Would this be helpful to people?
- Yes, It would be absolutely helpful.
2. Is this worth investing time into?
- We just use English and create the file with full necessary keys. The others will translate into their languages.
3. Front-end or back-end implementation?
- one vote for back-end implementation because this isn't a SPA. Using Laravel vendor locale files is more suitable.
4. Are there

[2019-07-14 03:39] xuanquynh commented on #17
The native application is nice but a standalone and stable web-based application has to be done first. :)

[2019-07-14 03:42] xuanquynh commented on #43
:+1:  Well, I think tests are required for all nice software.

[2019-07-14 13:04] QuintenJustus commented on #43
Thanks for your feature request! I'm implementing tests in the new release. Why not earlier? Because I ran into some trouble on my previous attempt, I was using Orchestra's testbench and that didn't go down so well. I'm trying different methods at the moment to get a good overall test coverage, mainly back-end focused for now, but front-end tests are certainly something worth investing in as it's

[2019-07-14 13:24] xuanquynh commented on #43
Tests are necessary but not required immediately. We can add each one case by case before the pre-released versions. I don't have much experience on Laravel package testing as specially integration testing with Orchestra's testbench. But if you have any trouble, just create issues and the community (including me) can help much more easier.

[2019-07-14 18:12] aaronsaray commented on #43
Would you like me to create a branch with orchestra testbench and a few other tests set up for people to build off of?

[2019-07-14 18:17] QuintenJustus commented on #43
If you’re willing to, I’d be very grateful 😁👌

[2019-07-15 01:47] QuintenJustus commented on #39
Closing due to inactivity and the problem probably being the same as the one mentioned above.

[2019-07-15 01:47] #39 closed

[2019-07-15 01:49] QuintenJustus commented on #33
Well that settles it then. Because i18n probably will not be a breaking change per se and I want to get out a stable release asap this will probably be added shortly after next release. Closing now, thank you all for the feedback, I will keep you updated! 😁👌

[2019-07-15 01:49] #33 closed

[2019-07-15 01:51] QuintenJustus commented on #17
Closing now, has been added to roadmap. Thanks for your fr!

[2019-07-15 01:51] #17 closed

[2019-07-15 11:12] djaxho commented on #33
Wasn't able to chime in in time, but agreed, just adding the english keys and letting anyone add translation keys is a solid plan :)

[2019-07-15 11:13] cloudworxx opened #44 "[BUG] Data cell count does not match table header column count"
For the default users table in Laravel, the cell count of table data does not match header cell count.

**To Reproduce**
Steps to reproduce the behavior:
1. create a blank Laravel installation
2. run artisan make:auth
3. Register default user
4. Install Prequel
5. Open users table

The header has the following fields:
id, name, email, email_verified_at, password, remember_token, created_at, update

[2019-07-15 11:42] QuintenJustus commented on #44
Looks like duplicate of #37.

[2019-07-15 12:06] aaronsaray commented on #43
I did so.  I didn't do all the testing I could have, but I gave some examples.  I would recommend writing more tests as you do the development.  For example, with tests, I was able to figure out that the name of the database configuration was being targeted for a database type, not the driver value itself.  I didn't notice that when I first used the package :)

[2019-07-15 13:07] QuintenJustus commented on #43
Nice job! Those tests are enough to build upon further 👍 Also saw your comments about the http statuses being 200, thanks for letting me know!

[2019-07-15 16:40] QuintenJustus commented on #43
Merged, see #45. Closing now

[2019-07-15 16:40] #43 closed

[2019-07-15 21:33] QuintenJustus commented on #44
This has been fixed, closing now.

[2019-07-15 21:33] #44 closed

[2019-07-15 22:20] QuintenJustus opened #46 "Additional database type support"
## Why I need your help
Currently I'm working on a lot of features, which included adding support for different database types namely `postgresql` but that takes a lot of time and keeps me from adding the other features. So because of the time it takes I'm inclined to push back db support to the release after the upcoming one. But then still, it takes a lot of time.

## My request
So my request go

[2019-07-17 02:54] James-N-M commented on #35
I'll take this issue up @QuintenJustus 💯

[2019-07-17 18:09] simpledev opened #48 "[FEATURE REQUEST] Scroll to top after table select"
When we have lot of tables in the left column and we click on the name of a table in the bottom of the left column, we must scrolling to the top manually.

It would much better to go directly to the top of the screen like on phpmyadmin or sequel pro.

[2019-07-17 18:46] jacobshenning opened #49 "[BUG] Path Causes Loading Issue"
**Describe the bug**
Changing the path in the prequel config file will cause an error when trying to load the data.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the prequel install directions on a fresh Laravel app
2. Make sure you have a database connected and prequel works normally
3. Go into the prequel config file and change the path to something like `apps/prequel`
4. Try to l

[2019-07-17 18:52] jacobshenning opened #50 "[FEATURE REQUEST] Custom Middleware for routes"
**Is your feature request related to a problem? Please describe.**
I'm using this database tool to assist in debugging use data on local and production servers. I need developer to be able to securely visit this page in all environments.

**Describe the solution you'd like**
I'm hoping that we can add a new value to the config file which is called "middleware." This value will be set to an array o

[2019-07-17 20:00] QuintenJustus commented on #49
That’s odd! Will check this tonight!

[2019-07-17 20:09] QuintenJustus commented on #50
Good suggestion! Will certainly this in the next release!

[2019-07-18 03:44] cashlion opened #51 "[FEATURE REQUEST] Customizable Authorization"
**Is your feature request related to a problem? Please describe.**
Access to the dashboard is currently bound by an environment variable.

**Describe the solution you'd like**
Similar to Nova, Horizon, etc, I’d like to be able to enable access in production but restrict access based on different criteria like a user role, user email, IP address, etc.

[2019-07-18 14:27] stevenberg opened #52 "[BUG] Fields are not shown when using the $visible property"
**Describe the bug**
When a model class uses the `$visible` property to hide attributes, attributes that are not included in the `$visible` array are not shown in Prequel.

**To Reproduce**
Use the `$visible` property instead of `$hidden`:

[code]

**Screenshots**
Expected view:
![Screen Shot 2019-07-18 at 9 54 59 AM](https://user-images.githubusercontent.com/2222/61464799-e23c8c80-a944-11e9-82e4-

[2019-07-19 10:10] M4ST3RX commented on #46
I have written the basics for postgresql support although this is the first time for me using pgsql and it only supports the public schema and the queries can take a long time on large databases (will be looking at making queries nicer over the weekend).

[2019-07-19 18:35] QuintenJustus commented on #52
Thanks for including a fix! Included in next release.

[2019-07-19 18:35] #52 closed

[2019-07-19 19:35] QuintenJustus commented on #49
Should be fixed now, let me know if you have any other suggestions!

[2019-07-19 19:35] #49 closed

[2019-07-19 20:01] QuintenJustus commented on #48
Included in release for tonight, thanks for your request!

[2019-07-19 20:01] #48 closed

[2019-07-19 21:13] QuintenJustus commented on #50
Will be release soon! Thanks again.

[2019-07-19 21:13] #50 closed

[2019-07-19 21:14] QuintenJustus commented on #51
Hey Cashlion, thanks for your feature request! I just pushed a new feature (see 27cfafd67e345e640a5dde75c174add23d4d6981), is this what you're looking for?

[2019-07-19 21:15] QuintenJustus commented on #46
Thanks a lot M4ST3RX! Let me know if you need help with anything!

[2019-07-20 02:08] M4ST3RX opened #54 "[BUG] Routing"
**Describe the bug**
The current api url is /prequel-api but status still querying the /prequel/prequel-api/status url.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/prequel'
2. Open DevTools
3. See status requests failing

**Expected behavior**
Seeing status query the right url so it can get the information from the database.

**Screenshots**
![image](https://user-images.githubuse

[2019-07-20 02:11] M4ST3RX commented on #54
Also migration still sends request to `/prequel-api/run/migrations` but the route have been changed to `/prequel-api/migrations/run`

[2019-07-20 11:01] QuintenJustus commented on #54
Run `$ php artisan prequel:update` 👌 There’s been some changes to the routes file.

[2019-07-20 11:31] M4ST3RX commented on #54
Ah yeah the changes made some conflicts and broke the js/css but it is now fixed.

[2019-07-20 11:31] #54 closed

[2019-07-20 15:12] M4ST3RX commented on #46
How can I make a pull request to dev branch so you can check the code?

[2019-07-20 15:37] QuintenJustus commented on #46
Create a new branch with your code, something like `feature-pgsql-support`, then commit all your code to your fork of Prequel. Then you can create a pull request [here](https://github.com/Protoqol/Prequel/pull/new/Dev).

[2019-07-20 16:20] James-N-M commented on #35
Thanks for assigning me I plan on starting this tomorrow morning

[2019-07-22 15:12] QuintenJustus opened #58 "[i18n] Prequel - Internationalization"
## Internationalization
It has been decided that i18n for Prequel is definitely something people are looking for, see #33. That's why I need you guys to help translate! I am unfortunately not a polyglot 😅

## Translators
- Brazilian Portuguese @cjfloss
- Hungarian @M4ST3RX
- Dutch @QuintenJustus

## How can I help translate?
TBA.

[2019-07-22 15:59] QuintenJustus commented on #51
Closing now as there has been no answer and the feature mentioned above is probably the fix for this.

[2019-07-22 15:59] #51 closed

[2019-07-24 02:23] James-N-M commented on #35
I'm confused about what the issue actually is, it seems the functionality to highlight the active table name is gone. So does the error occur even if they are one or more databases away from each other

[2019-07-25 16:34] QuintenJustus commented on #35
Closing now, see #61 for more information.

[2019-07-25 16:34] #35 closed

[2019-07-25 22:18] dykow opened #62 "[FEATURE REQUEST] php artisan prequel:remove"
I would really like to see a easy way to remove Prequel. Just the opposite command to `php artisan prequel:install`

[2019-07-25 22:46] QuintenJustus commented on #62
Might be something we'll add in the future, for now follow the instructions below.

#### In your project root folder:
[code]

[2019-07-26 10:07] dykow commented on #62
Sadly none of these paths exists, I can see only `/public/vendor/prequel`. No signs of prequel in `resources` directory.

[2019-07-26 11:49] QuintenJustus commented on #62
Nevermind the resources/lang! That's only in the Dev branch, sorry 😄

[2019-07-26 11:49] #62 closed

[2019-07-26 18:34] James-N-M commented on #58
If we dont know the language will google translate suffice ?

[2019-07-26 18:45] QuintenJustus commented on #58
Rather not :smile:

[2019-07-27 23:07] christiannecool commented on #58
Looks good!!

[2019-07-29 16:02] jacobshenning opened #66 "How to contribute [Question]"
Hey @QuintenJustus, I want to contribute to this repository. I build apps with Vue and Laravel often. I also have a lot of cool ideas for this app.

Before I get carried away though, I just want to try making some basic contributions. Do you have any "good first issues" for me?

[2019-07-29 17:10] QuintenJustus commented on #66
Hey! Absolutely, if you could pop me an email we can discuss it there! 😁👌

[2019-07-29 17:10] #66 closed

[2019-08-01 16:26] gjm opened #67 "Don't infer database type from name and support multiple connections"
AFAIK Prequel is inferring the database type from the connection name (`mysql`, `pgsql`, etc.). I can only specify one database connection, also.

In my case I have more than one database connection, all using the same driver (`pgsql`) but with different names. As such, when I try to access Prequel I get an error saying my database is not supported.

I would like to be able to use Prequel to manag

[2019-08-01 18:44] jacobshenning commented on #67
@gjm Prequel 1.13 currently only supports one database connection. Multiple database connections is likely to come in the future, but has not been planned in any upcoming releases yet.

[2019-08-02 02:51] berandakreatif opened #68 "[BUG] There was an error while loading this table"
**Describe the bug**
I tried to use your package, until displaying the database listing was running normally, when I clicked one of the tables from the database an error statement appeared

There was an error while loading this table. See the following:
Could not resolve error
Prequel suggests looking at the following points
Prequel could not suggest any fixes

**Screenshots**
![gambar](https://us

[2019-08-02 14:31] HDVinnie commented on #68
Is it only that table that throws this error? If so please share the DB schema for this table.

[2019-08-05 21:41] HDVinnie commented on #68
@berandakreatif any update?

[2019-08-09 09:30] robtesch opened #74 "[FEATURE REQUEST] Any roadmap or plan for when the "Manage" screen will be ready?"
Hi there guys, firstly thank you for this fantastic package. All is working well on my side. I just wanted to ask what the roadmap or plan is for when the "manage" screen might be ready. Is this something being actively worked on? Are we talking probably months or years before this comes to fruition?

Many thanks again.

[2019-08-09 12:06] QuintenJustus commented on #74
Hi Robtesch! Thanks! An official roadmap is yet to be made for the public.

The Management Mode is currently being worked on and will be included in the next release - version 1.2. I estimate that 1.2 will be released within 2 to 3 weeks.

[2019-08-09 12:51] robtesch commented on #74
@QuintenJustus Music to my ears! Please do continue the fantastic work.

[2019-08-09 12:51] #74 closed

[2019-08-11 02:39] QuintenJustus commented on #68
Thanks @HDVinnie. Closing now since there was no response.

[2019-08-11 02:39] #68 closed

[2019-08-11 02:39] QuintenJustus commented on #67
Closing as Jacob’s response answered correctly.

[2019-08-11 02:39] #67 closed

[2019-09-09 14:25] seedgabo opened #78 "Support Laravel 6.0"
is any plan to support laravel 6.0 soon?

[2019-09-10 10:07] QuintenJustus commented on #78
Will check if support is already there tonight, should be relatively simple, and if that is the case, adding support will simply be changing 1 character in the composer.json 👌

[2019-09-10 10:07] #78 closed

[2019-09-10 14:16] ghjer opened #79 "[BUG]"
composer install fails on latest laravel version 6.0.1. Are you guys planning on releasing a version supporting laravel > 6?

[code]

[2019-09-10 14:23] ZeroGodForce commented on #79
I've literally just had a similar result with 5.8.35

[code]

[2019-09-10 17:03] QuintenJustus commented on #79
Hey! See #78

[2019-09-10 17:03] #79 closed

[2019-09-10 17:44] QuintenJustus commented on #79
Support is confirmed, you can now use version 1.22.1 with Laravel >6.0

[2019-09-10 17:44] QuintenJustus commented on #78
Support is confirmed, you can now use version 1.22.1 with Laravel >6.0

[2019-09-10 17:58] seedgabo commented on #78
Perfect 👌, thanks

[2019-09-10 22:31] ZeroGodForce commented on #79
I wasn't able to get it to install via `composer install` on v5.8.35.  I don't know if there was something to do with my local composer references, and it didn't make a difference after I ran `composer clearcache`, so I added it manually into my composer.json as `"protoqol/prequel": "^1.22.1"` and then ran `composer update` which seemed to work.

As a matter of course, I added it into my `require-

[2019-09-11 00:10] QuintenJustus commented on #79
Hm... Probably a misconfiguration in Prequel’s composer file.

And thanks! Really appreciate it

[2019-10-02 13:07] Mikeyspike opened #84 "[FEATURE REQUEST] Authorisation updates (Potential bug?)"
**Is your feature request related to a problem? Please describe.**
Seems like Prequel strips out any authorisation when you hit the main page, meaning it's not possible to update / create any middleware which checks agains certain levels of access

This also means it's possible to access prequel without being logged into any area of the application.

**Describe the solution you'd like**
Ability to

[2019-10-26 08:04] sctouch opened #85 "[BUG] Can not install on laravel 6"
Problem 1
    - Installation request for composer/composer (locked at 1.9.0) -> satisfiable by composer/composer[1.9.0].
    - protoqol/prequel v1.22 requires composer/composer dev-master -> satisfiable by composer/composer[dev-master].
    - protoqol/prequel v1.22.1 requires composer/composer dev-master -> satisfiable by composer/composer[dev-master].
    - Conclusion: don't install composer/comp

[2019-10-29 07:30] roarkmccolgan opened #86 "[FEATURE REQUEST] Align table headings and cells left"
**Is your feature request related to a problem? Please describe.**
More of a personal preference but left aligning data tables makes it more readable to me

**Describe the solution you'd like**
Would be great if you could left align table data

**Additional context**
Here is a shot of the demo with centered data:
![image](https://user-images.githubusercontent.com/1567162/67746208-b1cdb980-fa2e-11e

[2019-11-02 16:02] dima2306 commented on #85
I have the same problem... Laravel Framework 6.4.1

[2019-11-06 08:03] ahmad-shawky commented on #84
Also i faced same issue. If i added custom middleware to config to authorize user

[2019-11-06 08:14] ahmad-shawky commented on #84
@Mikeyspike You should add 'web' middleware to config file

[2019-11-19 16:06] msbtec opened #88 "[BUG] Malformed UTF-8 characters"
There was an error while loading this table. See the following:
Malformed UTF-8 characters, possibly incorrectly encoded

How to fix to read my tables with this encode?

[2019-11-25 22:40] QuintenJustus commented on #85
Should be fixed now :+1:

[2019-11-26 03:25] sctouch commented on #85
Thanks you .

[2019-11-26 03:26] sctouch commented on #85
I tried but it is not works:

Problem 1
    - Installation request for composer/composer (locked at 1.9.1) -> satisfiable by composer/composer[1.9.1].
    - protoqol/prequel v1.22 requires composer/composer dev-master -> satisfiable by composer/composer[dev-master].
    - protoqol/prequel v1.22.1 requires composer/composer dev-master -> satisfiable by composer/composer[dev-master].
    - Conclusio

[2019-11-27 09:53] QuintenJustus commented on #85
Seems like composer didn't pick up the new release, will fix asap.

[2019-12-18 19:04] damms005 commented on #50
@QuintenJustus Can you please clarify this common advise of packages advising against use in production for reason of security.

While this is understandable for some packages (e.g. Laravel Telescope warns against drastically slowing down performance), others like Prequel obviously are behind routes which can be put behind a logically secured Middleware.

So why still advise against use in product

[2019-12-21 00:10] QuintenJustus commented on #50
It's more the best practice when securing your application. Like you said, logically it's safe behind middleware and there's no performance loss.

However, if you find yourself in need of a direct database browser on a live database, you should reconsider how your application is built up. Unless you're debugging an issue only found on your live database you should not have an opening to the databa

[2020-01-14 09:46] milanchheda opened #89 "[BUG] /prequel throwing an error - Blank White Page"
**Describe the bug**
After installing the package, I tried to access /prequel and it's showing a blank white page. Error in the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the package as mentioned in the documentation
2. Access /prequel and blank white page

**Expected behavior**
The /prequel page showing the databases and tables.

**Screenshots**
![image](https://user-i

[2020-01-22 00:42] joelvh opened #90 "[BUG] v1.22.2 not published?"
It seems that v1.22.2 is not yet published, is that correct? I'm looking for the PostgreSQL bug fix regarding `SequelAdapter` missing, and am only getting v1.22.1.

Thanks.

[2020-01-22 00:52] joelvh opened #91 "[BUG] Postgres lists table schema as result set instead of records"
**Describe the bug**

I was expecting to click on a table name and see a list of records. However, I see a list of metadata about the table schema instead. Am I doing something wrong or is this not being used with PostgreSQL by anyone?

**To Reproduce**

This is simply a new installation, click on a database in the left hand column, then click on a table name. The result I see is results of the ta

[2020-01-22 01:13] #91 closed

[2020-01-22 08:24] QuintenJustus commented on #90
Use Prequel v1.22.3, just confirmed the release. That version also includes the fix you are looking for.

[2020-01-22 08:24] #90 closed

[2020-01-22 08:25] QuintenJustus commented on #85
Should now be working on Laravel 6

[2020-01-22 08:25] #85 closed

[2020-01-23 01:55] renztoygwapo opened #94 "Syntax Error when Clicking the Tables"
Successfully run the Prequel package by accessing this page /prequel but when I clicked the table menu under the database it will throw a syntax error
see image below.

![image](https://user-images.githubusercontent.com/4898681/72950459-6aa15b80-3dc6-11ea-889e-47a3b0f121ba.png)

[2020-01-23 23:18] QuintenJustus commented on #94
What version of PHP are you running?

[2020-01-26 03:27] coding-sunshine opened #95 "[BUG] Error after updating"
**Describe the bug**
After updating to latest version noticed that it stopped working.
After some debugging found the error at the following place
prequel/src/Http/Controllers/DatabaseController.php
line 90

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you exp

[2020-01-26 15:46] renztoygwapo commented on #94
PHP 7.2.26 on laravel valet

[2020-01-29 13:50] krisidmisso opened #97 "[FEATURE REQUEST]"
**Is your feature request related to a problem? Please describe.**
Readability and Dark mode are saved on session
**Describe the solution you'd like**
Save readability and Dark mode settings in database or file
**Describe alternatives you've considered**
Add .env variables for global configuration

[2020-02-15 22:26] inmanturbo commented on #46
Sqlite3 is a feature I was just about to request when I saw this. I will take a look then I guess and see if I can help with it but I'm afraid your package is mostly way over my head! It's massive, a lot of code for little old me! All that client side rendering and custom scss. It is quite magnificent. I need something like this for sqlite badly, with ability to create new sqlite databases|files|p

[2020-03-26 19:03] theobaidur opened #98 "[BUG] There was an error while loading this table"
**Describe the bug**
Getting `There was an error while loading this table. See the following:` error when clicking on table. Check this [screenshot](https://www.screencast.com/t/NMaEmKiVG)
**To Reproduce**
Steps to reproduce the behavior:
1. Install Prequel
2. Open Prequel Url in Browser
3. Click on a Table
4. Shows error like [this](https://www.screencast.com/t/NMaEmKiVG)

**Expected behavior**
P

[2020-03-31 03:36] oyghan commented on #98
I have the same problem, Have you solved it？please share your solutions, thanks!

[2020-03-31 03:44] oyghan commented on #98
I have solved this problem, update Prequel version to v1.22.1, it`s work for me !

[2020-03-31 23:32] theobaidur commented on #98
@oyghan Apparently, composer was downloading a broken distribution. Composer was downloading [this version](          https://api.github.com/repos/Protoqol/Prequel/zipball/fc62e4f8bd2f83f8e5ff61119b282ed174f0e733)
![Composer Lock](https://content.screencast.com/users/O.Rahman/folders/Jing/media/10c0b819-87f1-42f2-b5aa-c4b0598673bb/2020-04-01_0518.png)

And I download the zip separately and found t

[2020-06-18 20:55] r9software commented on #98
I'm having this error installing v1.22.3
composer require protoqol/prequel 1.22.1
fixed it

[2020-06-27 02:47] QuintenJustus commented on #98
@theobaidur, @oyghan @r9software

Thank you all very much for providing support! This was indeed an issue with composer's package distributor. Prequel v1.22.4 has been successfully released now. So you can simply update to that version to be able to use 1.22.2 and 1.22.3's  features! Thank you for your patience 😄. Closing now.

[2020-06-27 02:47] #98 closed

[2020-06-27 02:48] QuintenJustus commented on #97
This is certainly a good suggestion! I think saving it in localStorage will provide the best spot to keep these variables in. Be on the lookout for new releases as this will probably be added very soon 👍

[2020-06-27 02:48] #97 closed

[2020-06-27 02:49] QuintenJustus commented on #95
This has been fixed in the latest release! Simply update to get rid of the problem.

[2020-06-27 02:49] #95 closed

[2020-06-27 02:50] QuintenJustus commented on #94
This should've been fixed in the latest release (v1.22.4).

[2020-06-27 02:50] #94 closed

[2020-06-27 02:50] QuintenJustus commented on #89
Could you, if you're still using Prequel of course, try again with the latest version? Thanks in advance!

[2020-06-27 02:52] QuintenJustus commented on #84
Hi @Mikeyspike, Prequel on its own provides a very spartan like middleware protection, secure but extremely simple. Like @ahmad-shawky commented, you should probably add your own middleware or the standard 'web' middelware group.

[2020-06-27 02:52] #84 closed

[2020-06-27 02:53] QuintenJustus commented on #88
Could you provide some more details?

[2020-06-27 02:55] QuintenJustus commented on #86
Thanks for your suggestion! The next release will improve upon UI configuration very much, so be on the lookout to see when your idea has made it into a release 😄

[2020-06-27 02:55] #86 closed

[2020-06-28 17:53] RyonMB opened #104 "[BUG]"
**Describe the bug**
When I try to edit something in the table editor, it does not save

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any table
2. Edit any field
3. Refresh
4. Old value is set

**Expected behavior**
Value is edited

**PHP Version**
 - Version 7.4

**Database type**
 - Type mysql

**Desktop (please complete the following information):**
 - Browser chrome

[2020-06-28 22:34] QuintenJustus commented on #104
Hi @RyonMB, thanks for bringing up the issue! Unfortunately that feature still needs some tweaks before going live, I am aware that it's a pretty essential feature to have, so this has a high priority. Version 1.3 will certainly have it.

[2020-07-02 05:07] milanchheda commented on #89
Hey @QuintenJustus , thanks for fixing. I had used in one of our old projects, don't have access anymore.

[2020-07-02 05:07] #89 closed

[2020-07-02 12:07] just1and0 opened #105 "Returns 404 even after enabled in production [BUG]"
**Describe the bug**
returns 404 in production, even while enabled.

**To Reproduce**
Steps to reproduce the behavior:
the set environment in .env file and change;

PREQUEL_ENABLED=true
APP_ENV=production
APP_DEBUG=false

**Expected behavior**
expect to load the expected Prequel URL, but end up seeing 404 pages.

[2020-07-02 15:26] QuintenJustus commented on #105
Hi @just1and0, this is not a bug, this is expected behaviour. Prequel will, by default, always be disabled in production. You can, if you’re sure about your case, bypass it by replacing the default middleware.

[2020-07-03 10:19] just1and0 commented on #105
Thank @QuintenJustus for clarifying.

I have done as advised and created my own middleware.

[2020-07-03 10:19] #105 closed

[2020-07-08 13:12] winfried-van-loon opened #106 "[BUG] Demo displays an 404 error"
**Describe the bug**
The demo listed in the readme goes to a website which displays an error (404 not found).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the readme of the GitHub project
2. Click on the `TL;DR? Test Prequel here!` link
3. The website `https://prequel.protoqol.xyz/prequel` opens
4. See error

**Expected behavior**
I would have expected to see the demo of Prequel on

[2020-07-08 13:59] AthosBenther commented on #106
If you try to access the the link without the "/prequel" the following message is displayed

"This account has been suspended.
Either the domain has been overused, or the reseller ran out of resources."

[2020-07-08 16:01] QuintenJustus commented on #106
Oops... Didn’t pay on time, thanks for noticing! Will be fixed ASAP

[2020-07-09 16:11] QuintenJustus commented on #106
@AthosBenther fixed, you can now view it in action again!

[2020-07-09 16:11] #106 closed

[2020-07-18 12:52] aleedhillon opened #107 "Deprecation Notice: Class Protoqol\Prequel\App\ControllerAction does not comply with psr-4 autoloading standard. It will not autoload anymore in Composer v2.0"
**Describe the bug**
While installing Prequel with `composer require protoqol/prequel` the following notices have shown up.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to your laravel project and `composer require protoqol/prequel`
2. See Notice.

**Expected behavior**
Clean installation.

**Screenshots**
![Annotation 2020-07-18 174919](https://user-images.githubusercontent.com

[2020-07-25 14:04] omidMolaverdi opened #109 "blank white page"
Thanks for the great work.

Laravel 6.x
PHP: 7.4.x

I followed the instruction to install Prequel and it seems that it relatively works. The only issue is that Prequel looks for a wrong path for the stylesheets and javascript. In my case, it points to the `/vendor/prequel/XXXXX` whereas the right path is `public/vendor/prequel/XXXXX`. Please can you kindly advise?

[2020-07-25 21:07] omidMolaverdi commented on #109
I traced down the issue and found the problem. It is asset() that returns the wrong directory. I further realised that I can change asset_location in .env and it will solve the problem, however, it will break the whole bunch of other parts as I highly used asset() in views. I can temporarily suppress the error by manually modifying the prequel views in the vendor directory, however, there should b

[2020-07-25 21:24] omidMolaverdi commented on #88
See this for example:

These are Arabic characters.
`
| | Idint(11) | Namemediumtext | Chlenint(11) | status |
| -- | -- | -- | -- | --|
  | 2 | (???????)? ?????? ?????? ???? ?????? ?????? ????? | 49 | 0 | 1
  | 3 | /?????????? ????/??? ??????????? ??????? ?????????? ??????? ????????? ????? ????? | 81 | 0 | 1
  | 4 | /???? ?????? ???? ???? /? ??????? ?????? ????? ???? ????? | 57 | 0 | 1
  | 5 | /?

[2020-07-25 21:31] omidMolaverdi commented on #88
hum, looks weird as it should be solved by adding `charset="utf-8"` to the `<script> tag (<script XXXX charset="utf-8">)`.

[2020-08-05 08:52] omidMolaverdi commented on #109
Hi, is there any update on this thread?

[2020-08-05 08:53] omidMolaverdi commented on #88
Hi,

Is there any update on this thread?

[2020-08-05 15:33] sarderiftekhar opened #110 "How can i put Prequel behind Laravel authentication?"
Hi,

Now the prequel is open to browse for anyone, how can I put it behind login and only for the application admin to view? Is there any feature like that?

[2020-09-29 14:46] MCKLtech commented on #110
Late to the party here but you can add a Middleware then place it in the 'middleware' option the config file (prequel.php)

If you wanted all authenticated users to have access to Prequel (Which is not good for production as I assume everyone can log in) then it would look something like this:

`'middleware' => [
            'web',
            'auth'
        ],`

What you really should do is look

[2020-10-23 07:19] ravdeepsingh22 commented on #107
Same Issue on Laravel 8

[2020-12-02 05:20] Oxicode commented on #107
anything news?

[2020-12-18 12:35] webstack9 commented on #107
@aliadhillon  I had the same issue, moved all files from src/Laravel folder into src/Appis fixing the problem , Laravel folder can be deleted.
@Oxicode is it possible to be fixed on next release, and just one question about update record feature, I did not get it from documentation is it available?

[2020-12-18 12:41] webstack9 opened #114 "46.js not found"
First I would like to say Great Job, I like this package a Lot

**Describe the bug**
missing 46.js file , strange name as well !?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Manage'
2. Click on Run Sql
3. Scroll down to  Chrome Console
4. See error "http://localhost:8085/46.js net::ERR_ABORTED 404 (Not Found)"

**PHP Version**
 - Version [8]

**Database type**
 - Type [mysql]
 - Ve

[2021-01-08 08:11] peterderooij opened #116 "Classes not autoloading"
**Describe the bug**
Composer gives me feedback when installing:
Class Protoqol\Prequel\App\MigrationAction located in ./vendor/protoqol/prequel/src/Laravel/MigrationAction.php does not comply with psr-4 autoloading standard. Skipping.
Class Protoqol\Prequel\App\FactoryAction located in ./vendor/protoqol/prequel/src/Laravel/FactoryAction.php does not comply with psr-4 autoloading standard. Skippin

[2021-01-22 21:49] RitamDey opened #117 "[FEATURE REQUEST] Support for PHP 8?"
**Describe the solution you'd like**
I'm working on a project and we've upgraded to PHP 8 and AFAIK PHP 8 is backward compatible!! Can the dependencies be upgraded?

[2021-02-16 08:22] #109 closed

[2021-03-28 18:35] #107 closed

[2021-04-10 17:55] #117 closed

[2021-04-10 17:55] #110 closed

[2021-04-10 17:55] #116 closed

[2021-04-10 19:27] QuintenJustus commented on #114
This is due to an unsuccesfull expirment with SQL code highlighting. This has been removed.

[2021-04-10 19:27] #114 closed

[2021-04-10 19:27] #104 closed

[2021-04-11 09:15] NicoPli commented on #110
This does not seem to work for me. I use Laravel breeze and when I add 'auth' into the config nothing changes. I can still access Prequel without login in. When I add other changes to the config it works. I reset the cache. I also tried to add Auth::check() to the middleware class of Prequel, but somehow it always returned false. Am I doing something wrong here?

[2021-04-24 13:19] NeonOdyssey opened #126 "[BUG] Custom middleware not working"
**Describe the bug**
When adding a custom middleware the page will always return to the home page as if the middleware is returning false.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a gate to check if the user has role 'Admin'
2. Create middleware using the gate
3. Open url
4. See the bug

**Expected behavior**
When logged in as an admin user should see the Prequel page.

**Actu

[2021-04-29 20:14] 19peaches opened #127 "[Question] How to get this working with Sanctum"
Looking at the codebase, it seems this is basically a single page app, more or less, I have sanctum set up in my existing app and I'm getting errors:

[code]

Perhaps, the error is something else ... when I try to generate any of the assets I get a 500 error in the Prequel console:

[code]

[code]

This happens for all generators ... I'm assuming it's due to Sanctum though I could be off.

Please

[2021-04-30 18:35] QuintenJustus commented on #126
Hi @NeonOdyssey! Thanks for reporting this bug, I will need to see if I can reproduce this before I can give a useful answer. Will get back to you!

[2021-04-30 18:37] QuintenJustus commented on #127
Hi there @19peaches! Thanks for reporting! I will look into this as soon as possible, I have not tested this with Sanctum to be honest. So there could be some incompatibility issues.

[2021-04-30 19:26] 19peaches commented on #127
@QuintenJustus

Thanks so much ... I have time today so I'm going to reinstall today WITHOUT Sanctum and see if I get any different results.

I'm also going to try and make this a top level project as I'l like to use it for something a little bit different, as I look at the structure it seems that this is just a normal Laravel app running from the vendor dir ... I'll let you know how that goes.

[2021-04-30 23:17] 19peaches commented on #127
I can now confirm that the errors I originally posted were indeed caused by Sanctum.

Installing without Sanctum enabled does indeed allow everything to route correctly, I can make Controllers, Models etc properly now.

Though I do have other issues I see, but these will be posted separately.

[2021-04-30 23:39] ghost opened #129 "[BUG] Updates Are Not Current"
**Describe the bug**
Current version in top right which provides the updater dialog shows the incorrect installed version, and when clicked, shows and installs the incorrect version.

My current version installed is 1.22.6 updater dialog shows 1.22.4

**To Reproduce**
Steps to reproduce the behavior:

1. Go to dashboard
2. Click on v1.22 top right corner
3. Click `Try auto-update` button
4. Script

[2021-05-12 18:09] NeonOdyssey commented on #126
Hi I have noticed a mistake in my original post ...

PHP Version is 8.0

[2021-05-26 01:10] eshelsil commented on #126
I have the same problem...
`Auth::user()` returns null on custom middleware

[2021-05-26 01:28] eshelsil commented on #126
@NeonOdyssey
you need to add 'web' middleware before
`
'middleware' => [
            'web',
            'yourCustomAdminMiddleware',
            Protoqol\Prequel\Http\Middleware\Authorised::class,
        ],
        `

[2021-05-26 01:29] eshelsil commented on #126
this is answered here:
[https://github.com/Protoqol/Prequel/issues/110](url)

[2021-05-28 12:48] #127 closed

[2021-05-30 12:39] NeonOdyssey commented on #126
@eshelsil
ahhh thanks for this 😄

[2021-07-26 09:25] fauzie opened #139 "[BUG] Custom Database Connection Name"
**Describe the bug**
Not support with custom connection name that difference from driver name. e.g: in config `database.php` i am using `connections` with name `defaultdb` and driver using `mysql`

**To Reproduce**
Assume you are using mysql database. Steps to reproduce the behavior:

1. Edit  'config/database.php' edit in `connection` array key with driver `mysql` to other than `mysql`. eg:
[code

[2021-08-10 18:55] anubhav217 opened #141 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**PHP Version**

- Version [e.g. 5.6,

[2021-08-10 18:56] anubhav217 opened #142 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**PHP Version**

- Version [e.g. 5.6,

[2021-08-10 18:56] anubhav217 opened #143 "[BUG] Minor Update Mismatch"
--

[2021-09-11 08:36] nouphaltklm opened #146 "[FEATURE REQUEST]"
Please provide an option for setting the baseurl, so that we can use it under subfolders

[2021-09-29 11:39] bitbayio opened #147 "[BUG] Wrong SSL Cert for https://prequel.protoqol.xyz"
**Describe the bug**
Prequel version check at  Prequel/resources/assets/js/components/Elements/Version.vue fails because https://prequel.protoqol.xyz/api/prequel-version uses SSL certificate for '*.zxcs.nl, zxcs.nl' !

[2021-10-01 20:51] QuintenJustus commented on #147
@bitbayio thank you for taking the time to make an issue. This has now been fixed in [this release](https://github.com/Protoqol/Prequel/releases/tag/v1.22.61).

[2021-10-01 20:51] #147 closed

[2021-10-01 20:51] #141 closed

[2021-10-01 20:51] #142 closed

[2021-10-01 20:52] #143 closed

[2021-10-11 09:03] mcmc4519 opened #148 "Mysql socket connection"
Hi! Your application is awesome!

**Is your feature request related to a problem? Please describe.**
I have a connection to mysql by socket. When I try use prequel, I have an error: **Could not create a valid database connection**.
In .env file I set a path to DB_SOCKET file.

`DB_SOCKET=/var/lib/mysqld/mysqld.sock`

Can we make a connection by socket?

[2021-11-30 07:46] KazeroG opened #150 "[BUG] The Link : TL;DR? Test Prequel here! Doesn't work"
**Describe the bug**
On the readme file the link [TL;DR? Test Prequel here!](https://prequel.protoqol.xyz/prequel) redirect to (https://protoqol.nlprequel/)

**To Reproduce**
 click the [TL;DR? Test Prequel here!](https://prequel.protoqol.xyz/prequel)

1. Go to readme file
2. Click on [TL;DR? Test Prequel here!](https://prequel.protoqol.xyz/prequel)
3. See error

**Expected behavior**
the link sho

[2022-02-01 09:05] JordanDalton opened #151 "[BUG] Cannot run raw query"
**Describe the bug**
Unable to use raw sql feature.

**To Reproduce**
Steps to reproduce the behavior:

1. From Browse click on the database then a table.
2. Click on 'Manage' on top top navbar.
3. Click "Run SQL"
4. You'll see a section, in a gray box, titled "SQL Query. Write and run a raw SQL query"
5. You'll notice you can't click that section.
6. If you click "Run SQL" you'll observe the foll

[2022-02-01 09:16] JordanDalton commented on #151
See https://github.com/Protoqol/Prequel/blob/master/resources/assets/js/components/MainContent/ManageMode/ManageActions/RunSQL.vue#L5-L10

[2022-02-28 11:54] QuintenJustus commented on #150
Thank you for opening an issue for this! The link has been removed for now.

[2022-02-28 11:54] #150 closed

[2022-02-28 11:55] QuintenJustus commented on #148
This is resolved now that #149 has been merged.

[2022-02-28 11:55] #148 closed

[2022-02-28 15:45] QuintenJustus commented on #151
This is disabled for now.

[2022-02-28 15:45] #151 closed

[2022-02-28 16:00] QuintenJustus commented on #146
This will be included in the next release.

[2022-02-28 16:02] #129 closed

[2022-02-28 16:02] QuintenJustus commented on #88
Has been resolved.

[2022-03-31 13:05] afeef-evm opened #154 "Database export or backup from prequel"

[2022-04-04 09:48] QuintenJustus commented on #154
Is this a feature request? @afeef-evm

[2022-04-04 10:06] afeef-evm commented on #154
if there is no option for exporting table, then yes @QuintenJustus

[2022-05-19 00:30] jonaspauleta opened #155 "[FEATURE REQUEST] Edit Table Data"
I am trying to edit a table's data, but it is not working, I guess that is not implemented?

Basically I just want to edit the data in a certain table.

[2022-06-01 11:48] #155 closed

[2022-06-01 11:52] QuintenJustus commented on #139
Hey @fauzie, thanks for submitting this bug! Very sorry about the very late answer. Prequel is going back in to active development and a v2.0 is being developed right now (see #156). I will fix this in that release.

Hope you haven't been discouraged from using Prequel because of this! I'll keep this issue open until the fix is in the aforementioned PR.

[2022-09-24 16:15] Xatta-Trone commented on #126
[code]

Hello, I am using this kind of middleware check, but still getting the 403 status code. Any reason why ? or a possible solution?

`prequel.php` file

[code]

[2022-09-25 22:25] QuintenJustus commented on #126
Hi @Xatta-Trone, it's impossible to say what the exact cause of this problem is.
I'd do more debugging into the particular middleware which is giving the 403 - this could be in de 'web' middleware group as well. If in this case the supplied code is causing it, you might need to look at the if-condition. Prequel does not give out a 403 errors on a failed middleware check. Only a 404 or a 503.
Hope